@charset 'UTF-8';

/**
 * @package bueltge.github.com
 */

body {
	color: #161406;
	background: #fff;
	padding: 0;
	margin: 0 0 3em 0;
	font-size: 100%;
	font-family: candara, "liberation sans", "trebuchet ms", "lucida grande", helvetica, sans-serif;
}

ul { 
	margin: 0;
	padding: 0;
	list-style: none; 
}

a {
	color: #333;
	text-decoration: none;
}
a:hover { color: #ccc; }

h1 { display: none; }

h2 {
	margin: 0 0 .4em 0;
	color: #bbb28e;
	font-style: italic;
}

h3 { margin: .3em 0; }

p {
	margin: 0; 
	padding: 0;
}

aside {
	width: 20%;
	padding: 1% 2%;
	list-style: none;
	list-style-type: none;
	top: 0;
	right: 0;
	position: fixed;
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(100% 100% 90deg, #fff, #ccc);
	/* Safari 4-5, Chrome 1-9 */
	/* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(#ccc, #fff);
	/* Opera 11.10+ */
	background: -o-linear-gradient(#ccc, #fff);
}

aside img {
	background: #fff;
	border: 1px solid #333;
	padding: 2px;
	margin-bottom: 20px;
	width: 80px;
	height: 80px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

aside li a[href*="bueltge.de"] {
	background: url( 'http://bueltge.de/favicon.ico' ) 0 0 no-repeat;
	padding-left: 20px;
}

aside li a[href*="about.me"] {
	background: url( 'http://wac.2659.edgecastcdn.net/802659/production80/images/assets/me_16x16_rounded.png' ) 0 0 no-repeat;
	padding-left: 20px;
}

aside li a[href*="twitter"] {
	background: url( 'http://twitter.com/favicon.ico' ) 0 0 no-repeat;
	padding-left: 20px;
}

aside li a[href*="xing"] {
	background: url( 'https://www.xing.com/favicon.ico' ) 0 0 no-repeat;
	padding-left: 20px;
}

aside li a[href$="github.com/bueltge"]{
	background: url( 'https://github.com/favicon.ico' ) 0 0 no-repeat;
	padding: 0 0 4em 20px;
}

aside li a[href$="coderwall.com/bueltge"]{
	background: url( 'http://api.coderwall.com/bueltge/endorse.png' ) 0 0 no-repeat;
	padding: 0 0 4em 73px;
}

aside li a[href*="plus.google.com"]{
	background: url( 'https://ssl.gstatic.com/s2/oz/images/favicon.ico' ) 0 0 no-repeat;
	padding: 0 0 4em 20px;
}

section {
	text-align: left;
	font-size: 1em;
	margin-right: 35%;
	padding: 2em 0 0 2em;
}

section ul li {
	margin-bottom: 10px;
}

section ul li p { margin-left: 5px; }

section div {
	float: right;
	margin-top: 15px;
}

section span, section a[title^="Link to Homepage"]:hover {
	background: #e3e3e3;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font-size: .75em;
	font-weight: 900;
	padding: 1px 4px;
	text-shadow: 0 1px 0 #fff;
	margin-right: 3px;
}

section a[title^="Link to Homepage"]:hover {
	font-weight: 400;
}

section span[title="Pushed at"], section span[title="Created at"] {
	background: none;
	border-color: #bbb28e;
	color: #888;
	padding-left: 20px;
	background: url( 'https://github.com/images/gist/comments/icons.png' ) #e3e3e3 1px -300px no-repeat ;
}

section span[title="Watchers"] {
	padding-left: 20px;
	background: url( 'https://github.com/images/modules/pagehead/repostat_watchers.png' ) #e3e3e3 3px -4px no-repeat ;
}

section span[title="Forks"] {
	padding-left: 20px;
	background: url( 'https://github.com/images/modules/pagehead/repostat_forks.png' ) #e3e3e3 3px -4px no-repeat ;
}

section span.forked {
	color: #ff9429;
	font-style: italic;
}

section span[title$="comments"] {
	padding-left: 20px;
	background: url( 'https://github.com/images/gist/comments/icons.png' ) #e3e3e3 2px 0 no-repeat ;
}

section p {
	color: #555;
	padding: 0;
}

section a[title^="Link to Homepage"] {
	display: block;
	color: #888;
	font-size: .75em;
	padding: 1px 4px;
	margin-right: 3px;
	border: 1px solid #fff;
}

section li h3 {
	display: inline-block;
	padding-right: 10px;
}
