@charset 'UTF-8';

/**
 * @package bueltge.github.com
 */

@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/Entypo.eot');
    src: url('../fonts/Entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Entypo.woff') format('woff'),
         url('../fonts/Entypo.ttf') format('truetype'),
         url('../fonts/Entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #161406;
	background: #fff;
	padding: 0;
	margin: 0 0 3em 0;
	font-size: 100%;
	font-family: candara, "liberation sans", "trebuchet ms", "lucida grande", helvetica, sans-serif;
}

ul { 
	margin: 0;
	padding: 0;
	list-style: none; 
}

a {
	color: #333;
	text-decoration: none;
}
a:hover { color: #ccc; }

h1 { display: none; }

h2 {
	margin: 0 0 .4em 0;
	color: #bbb28e;
	font-style: italic;
}

h3 { margin: .3em 0; }

p {
	margin: 0; 
	padding: 0;
}

aside {
	width: 20%;
	padding: 1% 2% 10% 2%;
	list-style: none;
	list-style-type: none;
	top: 0;
	right: 0;
	position: fixed;
	background: -moz-linear-gradient(100% 100% 90deg, #fff, #ccc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));
	background: -webkit-linear-gradient(#ccc, #fff);
	background: -o-linear-gradient(#ccc, #fff);
	background: linear-gradient(100% 100% 90deg, #fff, #ccc);
}

aside img {
	background: #fff;
	border: 1px solid #333;
	padding: 2px;
	margin-bottom: 20px;
	width: 80px;
	height: 80px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

aside li a[href*="bueltge.de"] {
	background: url( 'http://bueltge.de/favicon.ico' ) 0 0 no-repeat;
	padding-left: 20px;
}

aside li a[href*="about.me"] {
	background: url( 'http://wac.2659.edgecastcdn.net/802659/production80/images/assets/me_16x16_rounded.png' ) 0 0 no-repeat;
	padding-left: 20px;
	background-size: 16px 16px;
}

aside li a[href*="twitter"] {
	background: url( 'http://twitter.com/favicon.ico' ) 0 0 no-repeat;
	padding-left: 20px;
	background-size: 16px 16px;
}

aside li a[href*="xing"] {
	background: url( 'https://www.xing.com/favicon.ico' ) 0 0 no-repeat;
	padding-left: 20px;
	background-size: 16px 16px;
}

aside li a[href$="github.com/bueltge"]{
	background: url( 'https://github.com/favicon.ico' ) 0 0 no-repeat;
	padding: 0 0 4em 20px;
	background-size: 16px 16px;
}

aside li a[href$="coderwall.com/bueltge"]{
	background: url( 'http://cdn.coderwall.com/assets/icon-af3f3aa2a9b8502d0e8667eeb3b09c5c.png' ) 0 0 no-repeat;
	padding: 0 0 4em 20px;
	background-size: 16px 16px;
}

aside li a[href*="plus.google.com"]{
	background: url( 'https://ssl.gstatic.com/s2/oz/images/favicon.ico' ) 0 0 no-repeat;
	padding: 0 0 4em 20px;
	background-size: 16px 16px;
}

section {
	text-align: left;
	font-size: 1em;
	margin-right: 35%;
	padding: 2em 0 0 2em;
}

section ul li {
	margin-bottom: 10px;
}

section ul li p { margin-left: 5px; }

section div {
	float: right;
	margin-top: 15px;
}

section span, section a[title^="Link to Homepage"]:hover {
	background: #e3e3e3;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font-size: .75em;
	font-weight: 900;
	padding: 1px 4px;
	text-shadow: 0 1px 0 #fff;
	margin-right: 3px;
}

section a[title^="Link to Homepage"]:hover {
	font-weight: 400;
}

section span {
	padding: 2px 5px;
}
section span:before {
	font-family: 'EntypoRegular';
	content: attr(data-icon);
	display: inline-block;
	speak: none;
	padding-right: 2px;
}

section span[title="Pushed at"], section span[title="Created at"] {
	background: none;
	border-color: #bbb28e;
	color: #888;
}

section span.forked {
	color: #ff9429;
	font-style: italic;
}

section p {
	color: #555;
	padding: 0;
}

section a[title^="Link to Homepage"] {
	display: block;
	color: #888;
	font-size: .75em;
	padding: 1px 4px;
	margin-right: 3px;
	border: 1px solid #fff;
}

section li h3 {
	display: inline-block;
	padding-right: 10px;
}
